.idea/
data/
data/**
data/**/**
.vscode/**
**/wp-content/languages/*.json
.php_cs.cache
/htdocs/app/etc/config.php
/htdocs/app/etc/env.php
/htdocs/default-configs/env.php
/htdocs/default-configs/pub/index.php
/htdocs/default-configs/.htaccess
/htdocs/default-configs/composer.json
/htdocs/default-configs/composer.lock
/htdocs/default-configs/config.php
/htdocs/default-configs/grunt-config.json
/htdocs/default-configs/Gruntfile.js
/htdocs/default-configs/index.php
/htdocs/default-configs/package.json
