{
    "extends": "stylelint-config-recommended-scss",
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "indentation": 4,
        "block-opening-brace-space-before": "always",
        "block-opening-brace-newline-after": "always",
        "block-closing-brace-newline-before": "always",
        "selector-list-comma-newline-after": "always",
        "string-quotes": "single",
        "selector-combinator-space-after": "always",
        "selector-combinator-space-before": "always",
        "declaration-block-semicolon-newline-after": "always",
        "declaration-colon-space-after": "always",
        "declaration-colon-space-before": "never",
        "rule-empty-line-before": [ "always", {
            "except": ["first-nested"],
            "ignore": ["after-comment"]
        }],
        "declaration-block-trailing-semicolon":"always",
        "no-extra-semicolons": true,
        "declaration-block-semicolon-space-before": "never",
        "declaration-no-important": true,
        "comment-empty-line-before": "always",
        "comment-whitespace-inside": "always",
        "comment-no-empty": true,
        "selector-max-id": 1,
        "selector-class-pattern": "^_?[a-z0-9]+(-[a-z0-9]+)*$",
        "selector-type-case": "lower",
        "length-zero-no-unit": true,
        "number-leading-zero": "never",
        "unit-case": "lower",
        "color-hex-case": "lower",
        "color-no-invalid-hex": true,
        "color-hex-length": "short",
        "block-no-empty": true,
        "max-empty-lines": 2,
        "unit-allowed-list": ["px", "rem", "%", "s", "fr", "deg"],
        "order/order": [
            "custom-properties",
            "declarations"
        ],
        "order/properties-order": [
            "font",
            "font-family",
            "src",
            "font-size",
            "font-weight",
            "font-style",
            "font-variant",
            "font-size-adjust",
            "font-stretch",
            "line-height",
            "color",
            "text-shadow",
            "text-align",
            "text-align-last",
            "vertical-align",
            "white-space",
            "text-decoration",
            "text-emphasis",
            "text-emphasis-color",
            "text-emphasis-style",
            "text-emphasis-position",
            "text-indent",
            "text-justify",
            "letter-spacing",
            "word-spacing",
            "text-outline",
            "text-transform",
            "text-wrap",
            "text-overflow",
            "text-overflow-ellipsis",
            "text-overflow-mode",
            "word-wrap",
            "word-break",
            "position",
            "z-index",
            "top",
            "right",
            "bottom",
            "left",
            "display",
            "visibility",
            "float",
            "clear",
            "overflow",
            "overflow-x",
            "overflow-y",
            "clip",
            "zoom",
            "flex",
            "flex-flow",
            "flex-basis",
            "flex-direction",
            "flex-grow",
            "flex-shrink",
            "flex-wrap",
            "justify-content",
            "align-content",
            "align-items",
            "align-self",
            "order",
            "box-sizing",
            "width",
            "min-width",
            "max-width",
            "height",
            "min-height",
            "max-height",
            "margin",
            "margin-top",
            "margin-right",
            "margin-bottom",
            "margin-left",
            "padding",
            "padding-top",
            "padding-right",
            "padding-bottom",
            "padding-left",
            "table-layout",
            "empty-cells",
            "caption-side",
            "border-spacing",
            "border-collapse",
            "list-style",
            "list-style-position",
            "list-style-type",
            "list-style-image",
            "content",
            "quotes",
            "counter-reset",
            "counter-increment",
            "resize",
            "box-shadow",
            "opacity",
            "cursor",
            "user-select",
            "nav-index",
            "nav-up",
            "nav-right",
            "nav-down",
            "nav-left",
            "transition",
            "transition-delay",
            "transition-timing-function",
            "transition-duration",
            "transition-property",
            "transform",
            "transform-origin",
            "animation",
            "animation-name",
            "animation-duration",
            "animation-play-state",
            "animation-timing-function",
            "animation-delay",
            "animation-iteration-count",
            "animation-direction",
            "tab-size",
            "hyphens",
            "pointer-events",
            "border",
            "border-width",
            "border-style",
            "border-color",
            "border-top",
            "border-top-width",
            "border-top-style",
            "border-top-color",
            "border-right",
            "border-right-width",
            "border-right-style",
            "border-right-color",
            "border-bottom",
            "border-bottom-width",
            "border-bottom-style",
            "border-bottom-color",
            "border-left",
            "border-left-width",
            "border-left-style",
            "border-left-color",
            "border-radius",
            "border-top-left-radius",
            "border-top-right-radius",
            "border-bottom-right-radius",
            "border-bottom-left-radius",
            "border-image",
            "border-image-source",
            "border-image-slice",
            "border-image-width",
            "border-image-outset",
            "border-image-repeat",
            "outline",
            "outline-width",
            "outline-style",
            "outline-color",
            "outline-offset",
            "background",
            "background-color",
            "background-image",
            "background-repeat",
            "background-attachment",
            "background-position",
            "background-position-x",
            "background-position-y",
            "background-clip",
            "background-origin",
            "background-size",
            "box-decoration-break"
        ]
    }
}
